
header {
    padding: 0.5%;
    font-size: 30px;
    text-align: center;
    color: white;
    background-color: black;
};

#searchBtn {
    border-radius: 20%;
    background-color: blue;
    color: white;
};
  
.favorable {
    border-radius: 10px;
    padding: 5%;
    background-color: green;
    color: white;
}
  
.moderate {
    border-radius: 10px;
    padding: 5%;
    background-color: orange;
    color: white;
}
  
.severe {
    border-radius: 10px;
    padding: 5%;
    background-color: red;
    color: white;
};

.search-area{
    display: flex;
    float: left;
}

#cityList{
    text-align: center;
    list-style-type: none;
    text-transform: uppercase;
}

li:hover{
    cursor: pointer;
    background-color: rgba(94, 255, 30, 0.116);
}

li{
    margin-bottom: 5px;
    border-bottom: rgba(85, 85, 85, 0.616);
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-style: solid;
    border-bottom-width: 1px;
}

.weth{
    margin-right: 2vw;
    max-width: 10rem;
    margin-top: 2vw;
}

.city{
    display: flex;
    position: inherit;
    
}

.one{
    margin-left: 10px;
}